.photo {
    width: 100%;
    height: 100%;
}

.photo img {
    width: 100%;   /* 100% ширины экрана */
    height: 100%;  /* 100% высоты экрана */
    object-fit: contain; /* Вписать, не обрезая и не растягивая */
}

.actionsBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionsBlock div {
    font-size: 2rem;
    color: white;
}