.roundButton {
    border-radius: 50%;
    position: fixed;
    top: -10px;
    left: -10px;
    z-index: 1000;
    background-color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 2rem;
    opacity: 70%;
    cursor: pointer;
    transition: transform .2s;
}

.roundButton:hover {
    transform: scale(1.1);
}