.header {
    position: fixed;
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: white;
    padding: 0.3rem;
    opacity: 30%;
    z-index: 1000;
}

.header button {
    width: 100px;
    padding: 0.5rem;
    background: none;
    border: none;
    outline: none !important;
    cursor: pointer;
}

.outlet {
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}
